<!-- start custom footer snippets -->

<!-- adv1 -->
<!-- <div id="box" style="
height: 120px;
color: #fff;				
background-size: 50%;
background-color:#2892d0;
line-height: 46px;
letter-spacing: 4px;
margin: 1em
">


    <h2 style="text-align: center;">
    <strong><span style='color: gold;font-size: 1.4em;'>担心</span></strong>
    撑不过试用期 ？<strong><span style='color: gold; font-size: 1.4em;'>害怕</span></strong>
    项目任务完不成？</h2>

  

    <h4 style="text-align: center;">
    <strong><span style='color: gold;'>白月黑羽来帮您</span></strong>
    疑难解答、毕设课设、工具开发、顺利渡过试用期</h4>


</div> -->

<!-- end custom footer snippets -->