<!-- start custom head snippets -->
{% include seo.html %}

<meta name="Keywords" content="白月黑羽,Python,python3教程,python基础,python入门教程,django教程,Web开发,web后端,selenium教程,web自动化, web全栈">
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?dbe4b81610105438254516b658833659";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- automatically push web page to baidu -->
<script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https'){
     bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else{
    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>
  
    
<!-- end custom head snippets -->